* {
    margin: 0;
    padding: 0;
  }
  
  body {
   background: black;
    overflow: hidden;
    height: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    display: flex;
    width: 90%;
  }
  
  canvas {
    display:block;
    margin:0;
    border: 0;
    box-shadow: 0;
  }
  
  p, a {
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: 19px; */
    color: white;
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    text-decoration:none;
  }
  
  .info {
    /* margin:14px auto; */
    text-align: justify;
    font-size: 18px;
    color: #fff;
  }
  
  a {
    color:#3377ee;
  }
