*{
    padding: 0;
    margin: 0;
}
.nav-list{
display: inline-block;
}
.nav-list a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
    color: #F2AA4CFF;
    background-color: #101820FF;
    font-weight: 900;
}
.navbar{
   
    background-color: #0f1821;
}
.banner{
    background-image: url("banner1.jpg");
    height: 400px;

}
.heading{
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    font-size: x-large;
    color:#1f1f36;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  tr:hover {background-color:#f5f5f5;}
  .form form .form-element{
      display: block;
      width: calc(100% - 5px);
      margin: 5px;
  }
  .btn{
    border: 0;
    color: #ddd;
    background-color: #0f1821;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 5px);
  }
  .btn-primary{
    border: 0;
    color: #ddd;
    background-color: #008cff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 2px 6px #0000006b;
  }
  .form-input{
      padding: 10px;
      border-radius:5px;
      border: .8px solid black;
      width: calc(100% - 28px);
  }
  .Err{
      text-align: center;
      color: red;
  }
@media only screen and (max-width: 420px) {
    .navbar {
        width: 100%;
    }
    .nav-list {
        width: 100%;
    }
    .banner{
     height: 200px;
    }
  }