html,body,*{
	padding: 0;
	margin: 0;/home/knight-wing/Codilar/Heroku/Day-02/Montserrat-SemiBoldItalic.otf
}
@font-face {
    font-family: "font01";
    src: 
    url("Montserrat-Italic.otf") format("opentype");
    }
@font-face {
    font-family: "font02";
    src: 
    url("Montserrat-Regular.otf") format("opentype");
    }
.main-title{
	    font-family: "font01";
        font-weight:normal;
        font-style:normal;
    text-align: center;
	color:#283350;
	padding: 10px;
	background-color:white;
}
.nav{
	background-color:#FFB500;
}
.nav-element{
	display: inline-block;
	width:20%;
}

.menu{
	display: block;
	font-family: "font02";
	text-decoration:none;
	background-color: #283350;
	color:#FFB500;
	margin: 0;
	padding: 10px;
	border-bottom: #3a508e solid;
}
.menu:hover{
	color: #29334f;
    background-color: #fff78e;
    transition: 1s;
}
.banner{
	background-image:url("banner.jpg"); 
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	//width: 100%;
	height: 500px;
}
.codeSnippet .heading .main-title{
	background-color: white; 

}
.codeSnippet{
	background-color: #f5cb40;
	padding-bottom: 1px;
}
.displayCode{
    background-color: white;
    color: #283350;
	margin: 50px;
	border-radius: 5px;
    box-shadow: 5px 4px 15px black;
}
.video{
display: flex;
width: 100%;
    background-color: #ff0047;
}
iframe{
	width: 90%;
	margin: 5%;
	height:65%;
}
video{
	width:  90%;
	margin: 5%;
	height:auto;

}
.right{
	width: 50%;
	height: 100%;
}
.left{
	width: 50%;
}
.title{
	font-family: "font02";
	display: block;
	color:#FFB500;
	margin: 0 5%;
	padding: 10px;
	border-bottom: #3a508e solid;
}
.small{
	font-size: 12px;
	color:white;
		background-color: black;
}
footer{

}
xmp{

	overflow-x: scroll;
}
audio{
	    margin: 20px;
}
.audio{
	    background-color: #00a1ff;
}
@media only screen and (max-width: 420px){
	.video{
		flex-direction: column;
	}
	.nav{
		display: block;
	}
	.nav-element,.left,.right{
		width: 100%;
	}
	.banner{
		background-size:unset
	}
}
